body{
    background-image: url(../certificate2.png);
  }
  

a{
    text-decoration: none;
    color: #eee; 
}

header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}

header a {
margin-right: 40px;
}



.image1{
  float:right;
  width: 25%;
  position: absolute;
  left: 37%;
  top: 50%;
  border-style: solid;
}


h1{
  color: azure;
  font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-shadow: 0 3px 3px #080505;
    position: absolute;
  left: 35%;
  top: 30%;
}